@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Programador: @ViewData["nome"] </p>
<p>Email: @ViewData["email"]</p>
<p><strong>More Information: </strong> <a href="https://github.com/victorvaz001/SalesWebMvc">. Git Hub - Victor Vaz</a></p>
    

